.services-main-div {
  /* border: 1px solid blue; */
}

.services-list-div {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  flex-wrap: wrap;
}

.services-servicebox-div {
  /* border: 1px solid green; */
  box-shadow: 3px 3px 3px 3px solid silver;
  height: 350px;
  display: inline-block;
  width: 486px;
  flex-shrink: 0;
}

@media only screen and (max-width: 992px) {
  .services-service-box {
    width: 48%;
    /* flex-shrink: 1; */
  }
}

@media only screen and (max-width: 767px) {
  .services-service-box {
    width: 90%;
    margin-top: 20px;
    /* display: block; */
  }
}
