.headermenu-main-div {
  margin: 0;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 80px;
}

/* animate div 1 transperent background */
.headermenu-main-div-1 {
  margin: 0;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 80px;
  animation: example2 0.4s;
}

@keyframes example2 {
  from {
    background-color: black;
    height: 60px;
  }
  to {
    background-color: initial;
    height: 80px;
  }
}

/* animate div 2 balck background */
.headermenu-main-div-2 {
  margin: 0;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 99;
  height: 60px;
  animation: example 0.4s;
}

@keyframes example {
  from {
    background-color: transparent;
    height: 80px;
  }
  to {
    background-color: black;
    height: 60px;
  }
}

/* background color on scroll */
.headermenu-main-div {
  margin: 0;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.headermenu-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.headermenu-logo-a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.headermenu-logo-a:hover {
  text-decoration: none;
}

.headermenu-collapsemenu-a {
  display: none;
  /* border: 1px solid red; */
  font-size: 20px;
}

.headermenu-menu-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.headermenu-menu-a {
  text-decoration: none;
  padding: 0 20px;
  color: white;
  cursor: pointer;
  font-family: MontserratFontBold;
  font-size: 12px;
  letter-spacing: 0.18px;
}

.headermenu-menu-a:hover {
  text-decoration: none;
}

.headermenu-contactus-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

/* media queries */

@media screen and (max-width: 992px) {
  .headermenu-contactus-div,
  .headermenu-menu-div {
    display: none;
  }
  .headermenu-logo-div {
    justify-content: flex-start;
  }
  .headermenu-collapsemenu-a {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
