.headermenu-main-div {
  margin: 0;
  /* border: 1px solid red; */
}

.headermenu-logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.headermenu-collapsemenu-a {
  display: none;
  /* border: 1px solid red; */
  font-size: 20px;
}

.headermenu-menu-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.headermenu-menu-a {
  text-decoration: none;
  color: #282e3e;
  font-family: SourceSansPro;
  font-size: 17px;
  padding: 0 20px;
}

.headermenu-menu-link:hover {
  text-decoration: none;
}

.headermenu-contactus-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.headermenu-contactus-btn {
  background-color: #e7bd15;
  border: none;
  padding: 10px 25px;
  color: white;
  font-family: SourceSansPro;
  font-size: 17px;
  border-radius: 4.8px;
}

/* media queries */
@media screen and (max-width: 992px) {
  .headermenu-contactus-div,
  .headermenu-menu-div {
    display: none;
  }
  .headermenu-logo-div {
    justify-content: flex-start;
  }
  .headermenu-collapsemenu-a {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
