
.item{
  height: 100vh;
  width: 100%;
}

.c0{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../../images/heroimage0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.c1{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../../images/heroimage1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c2{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../../images/parallax-bg4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.heroimage-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 92%;
  width: 100%;
  padding-top: 30px;
}

.heroimage-subtext-p {
  color: rgb(221, 221, 221);
  font-family: MontserratFontBold;
  font-size: 14px;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: 1px;
}

.heroimage-maintext-p {
  color: white;
  font-family: MontserratFontBold;
  font-size: 70px;
  line-height: 65px;
  letter-spacing: -1px;
}

.heroimage-connect-btn {
  color: white;
  font-family: MontserratFontBold;
  font-size: 12px;
  /* line-height: 65px; */
  margin-top: 25px;
  border-radius: 4px;
  border: 2px solid white;
  box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
  background: transparent;
  padding: 9px 27px;
}

.services-dots-div{
  display: flex;
  justify-content: center;
}

.services-dot-span {
  height: 9.5px !important;
  width: 9.5px !important;
  background-color: white;
  opacity: 0.3 !important;
  border-radius: 50% !important;
  display: inline-block !important;
  margin: 0 6px 20px 6px !important;
  cursor: pointer !important;
}

span.active{
  opacity: 1 !important;
}

ol.carousel-indicators li{
  height: 9px !important;
  width: 9px !important;
  background-color: white;
  opacity: 0.3 ;
  border-radius: 50% ;
  display: inline-block ;
  margin: 0 5px 10px 5px !important;
  cursor: pointer ;
}

ol.carousel-indicators li.active{
  opacity: 1 !important ;
}

.services-dot-span:after{
  opacity: 1 !important;
}



@media screen and (max-width: 992px) {
  .heroimage-maintext-p {
    font-size: 65px;
    line-height: 60px;
  }
  .heroimage-connect-btn{
    padding: 8px 25px;
  }
  .item{
    margin: 0;
    height: 100vh !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 768px) {
  .heroimage-maintext-p {
    font-size: 55px;
    line-height: 50px;
  }
  .carousel-control{
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .heroimage-maintext-p {
    font-size: 45px;
    line-height: 40px;
    /* padding: 0 30px; */
  }
  .heroimage-connect-btn {
    font-size: 10px;
    padding: 7px 21px;
    margin-top: 25px;
    border: 1px solid white;
  }
  .heroimage-subtext-p {
    font-size: 10px;
    line-height: 50px;
  }
}

@media  screen and (max-width : 480px){
  .heroimage-maintext-p{
    font-size: 35px;
    line-height: 35px;
    text-align: center;
  }
}


