
 .heroimage-main-div{
    background-image: url("../../images/homepage-3-slider-img-1.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%)
}

.heroimage-header-div{
    position: absolute;
    width: 100%;
    top: 0%;
}

.heroimage-text-div{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0%;
}

.heroimage-subtext-p{
    color: rgb(228, 220, 220);
    font-family: MontserratFontBold;
    font-size: 12px;
    line-height: 65px;
    letter-spacing: 2px;
}

.heroimage-maintext-p{
    color: white;
    font-family: MontserratFontBold;
    font-size: 70px;
    line-height: 65px;
    letter-spacing: -1px;
}

.heroimage-connect-btn{
    color: white;
    font-family: MontserratFontBold;
    font-size: 12px;
    /* line-height: 65px; */
    margin-top: 30px;
    border-radius: 4px;
    border:2px solid white;
    box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
    background: transparent;
    padding: 9px 25px;
}
