:root{
  --footer-text-color:black;
  --footer-background-color:grey;
}

.footer{
  background-color: var(--footer-background-color);
  padding-top: 70px;
}
.footer-content{
  margin-left: 110px;
}
.footer-item{
  text-align: left;
}
.footer-ul{
  list-style: none;
  padding-left: 0px;
}
.footer-ul li{
  color: var(--footer-text-color)
}
.footer-ul li a:link{
  color: var(--footer-text-color);
  text-decoration: none;
} 
.footer-ul li a:visited{
  color: var(--footer-text-color);
  text-decoration: none;
} 
.footer-social li{
  margin-bottom: 15px;
}
.footer-ul .icon{
  font-size: 20px;
}
.fa-twitter:hover{
   color: #429cd6;
}
.fa-facebook:hover{
  color: #3a589d;
}
.fa-instagram:hover{
  color: #ed4852
}
.footer-copyright{
  text-align: center;
}
.footer-ul hr{
  margin: 10px;  
}
@media screen and (max-width: 992px){
  .footer-content{
    margin-left:70px;
    margin-right: 0px;
  }
  .footer-item{
    padding-left: 20px;
  }
  .footer-item-heading{
    margin-top: 25px;
  }
  .footer{
    padding-top:0px;
  }
}
@media screen and (max-width: 600px){
  .footer-content{
    margin-left:0px;
    margin-right: 0px;
  }
  .footer-item{
    padding-left: 20px;
  }
  .footer-item-heading{
    margin-top: 25px;
  }
  .footer{
    padding-top:0px;
  }
}